Not receiving images with getPhotos / Multipart boundary issue

So I have a function set up like so:
```
client.getTable('Property', '1');
client.once('metadata.table.success', function(table) {
  client.queryWithOpts('Property', '1', '(246=A),(61=|BROWARD,DADE)', {limit: 10, offset: 0}, function(error, data) {
    console.log(error);
    for (var j = 0; j < data.length; j++) {
      
      client.getPhotos("Property", "Photo", data[j].sysid, function(error, dataList) {
          if (error) {
              console.log(error);
              return;
          }

          for(var i = 0; i < dataList.length; i++) {
              console.log("Photo " + (i+1) + " MIME type: " + dataList[i].mime);

              require('fs').writeFile(
                  "imgs/photo"+(i+1)+"."+dataList[i].mime.match(/image\/(\w+)/i)[1], 
                  dataList[i].buffer
              );
          }
      });
    }
});
```

and receive the following error:
```
text/plain; charset=utf-8
/Users/youanden/Tests/node_modules/rets-client/lib/object.js:92
r multipartBoundary = contentType.match(/boundary=(?:"([^"]+)"|([^;]+))/i)[1];
                                                                          ^
TypeError: Cannot read property '1' of null
    at /Users/youanden/Tests/node_modules/rets-client/lib/object.js:92:85
    at Request.<anonymous> (/Users/youanden/Tests/node_modules/rets-client/lib/object.js:62:13)
    at Request.emit (events.js:129:20)
    at IncomingMessage.<anonymous> (/Users/youanden/Tests/node_modules/rets-client/node_modules/request/request.js:1019:12)
    at IncomingMessage.emit (events.js:129:20)
    at _stream_readable.js:908:16
    at process._tickDomainCallback (node.js:381:11)
```

I'm guessing the function expects a boundary where there is no match. Perhaps some work should be spent validating such an edge case.

Anyways, I have a metadata response from the server as such:

```
{ Date: '2014-06-03T04:39:44Z',
  Resource: 'Property',
  Version: '37.62.88784',
  Objects: 
   [ { MetadataEntryID: 'Photo',
       ObjectType: 'Photo',
       MimeType: 'image/jpeg',
       VisibleName: 'image',
       Description: 'High resolution property photos',
       ObjectTimeStamp: '',
       ObjectCount: '' } ] }
```

The contentType is `text/plain; charset=utf-8` and the callback returns no errors.

Is there something obviously wrong from my end?



Hi Georgiy,

The getPhotos call makes a getObject call that includes an asterisk with
the listing unique id "1234:*" which tells the rets server to return all
the listing photos in one response. The rets server is supposed send a
multipart response that includes a boundary. I could modify the code to
throw an error if the boundary is not present but it still would not solve
your problem. Do you know if your rets server supports sending multiple
images in one response? Also, do you know which version of rets the server
supports? Is it 1.7.2+?

-Steve

On Wed, Aug 19, 2015 at 1:47 PM, Georgiy Slobodenyuk <
notifications@github.com> wrote:

> So I have a function set up like so:
>
> client.getTable('Property', '1');
> client.once('metadata.table.success', function(table) {
>   client.queryWithOpts('Property', '1', '(246=A),(61=|BROWARD,DADE)', {limit: 10, offset: 0}, function(error, data) {
>     console.log(error);
>     for (var j = 0; j < data.length; j++) {
>
>       client.getPhotos("Property", "Photo", data[j].sysid, function(error, dataList) {
>           if (error) {
>               console.log(error);
>               return;
>           }
>
>           for(var i = 0; i < dataList.length; i++) {
>               console.log("Photo " + (i+1) + " MIME type: " + dataList[i].mime);
>
>               require('fs').writeFile(
>                   "imgs/photo"+(i+1)+"."+dataList[i].mime.match(/image\/(\w+)/i)[1],
>                   dataList[i].buffer
>               );
>           }
>       });
>     }
> });
>
> and receive the following error:
>
> text/plain; charset=utf-8
> /Users/youanden/Tests/node_modules/rets-client/lib/object.js:92
> r multipartBoundary = contentType.match(/boundary=(?:"([^"]+)"|([^;]+))/i)[1];
>                                                                           ^
> TypeError: Cannot read property '1' of null
>     at /Users/youanden/Tests/node_modules/rets-client/lib/object.js:92:85
>     at Request.<anonymous> (/Users/youanden/Tests/node_modules/rets-client/lib/object.js:62:13)
>     at Request.emit (events.js:129:20)
>     at IncomingMessage.<anonymous> (/Users/youanden/Tests/node_modules/rets-client/node_modules/request/request.js:1019:12)
>     at IncomingMessage.emit (events.js:129:20)
>     at _stream_readable.js:908:16
>     at process._tickDomainCallback (node.js:381:11)
>
> I'm guessing the function expects a boundary where there is no match.
> Perhaps some work should be spent validating such an edge case.
>
> Anyways, I have a metadata response from the server as such:
>
> { Date: '2014-06-03T04:39:44Z',
>   Resource: 'Property',
>   Version: '37.62.88784',
>   Objects:
>    [ { MetadataEntryID: 'Photo',
>        ObjectType: 'Photo',
>        MimeType: 'image/jpeg',
>        VisibleName: 'image',
>        Description: 'High resolution property photos',
>        ObjectTimeStamp: '',
>        ObjectCount: '' } ] }
>
> The contentType is text/plain; charset=utf-8 and the callback returns no
> errors.
>
> Is there something obviously wrong from my end?
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/sbruno81/rets-client/issues/9>.
>


@sbruno81 
Thanks for the extra details. The server we have is configured as 1.7.2, and I've seen 1.8 on it before (though I've never tried it). 

I am not sure if the server supports sending multiple images in one response. 

I do know that in my case, the buffer was not empty. Is there a way to see what was returned from ` function(error, contentType, data)` the data variable?

Are you using an IDE for debugging? You could set a break point on line 58
of lib/object.js.

You should also be able to get one image at time through the getObject call.

On Wed, Aug 19, 2015 at 3:42 PM, Georgiy Slobodenyuk <
notifications@github.com> wrote:

> @sbruno81 <https://github.com/sbruno81>
> Thanks for the extra details. The server we have is configured as 1.7.2,
> and I've seen 1.8 on it before (though I've never tried it).
>
> I am not sure if the server supports sending multiple images in one
> response.
>
> I do know that in my case, the buffer was not empty. Is there a way to see
> what was returned from function(error, contentType, data) the data
> variable?
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/sbruno81/rets-client/issues/9#issuecomment-132777304>.
>


@sbruno81 How would I call getObject for a single image? just pass `matrixId` without a `:*`?

Yes, that should work (from what I recall)

On Wed, Aug 19, 2015 at 5:11 PM, Georgiy Slobodenyuk <
notifications@github.com> wrote:

> @sbruno81 <https://github.com/sbruno81> How would I call getObject for a
> single image? just pass matrixId without a :*?
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/sbruno81/rets-client/issues/9#issuecomment-132803599>.
>


You could pass it with the * and see what kind of response you get back.
Maybe check the content-type, that could provide a clue of what's going
on...

On Wed, Aug 19, 2015 at 5:21 PM, Steven Bruno <stevenrbruno@gmail.com>
wrote:

> Yes, that should work (from what I recall)
>
> On Wed, Aug 19, 2015 at 5:11 PM, Georgiy Slobodenyuk <
> notifications@github.com> wrote:
>
>> @sbruno81 <https://github.com/sbruno81> How would I call getObject for a
>> single image? just pass matrixId without a :*?
>>
>> —
>> Reply to this email directly or view it on GitHub
>> <https://github.com/sbruno81/rets-client/issues/9#issuecomment-132803599>
>> .
>>
>
>


Getting:
`text/plain; charset=utf-8`
And when trying to `toString()` the data, I get:
`Object reference not set to an instance of an object.` - I'm assuming because it is a buffer and not an Object.

How about JSON.stringify(data)?

Sent from my iPhone

> On Aug 19, 2015, at 5:31 PM, Georgiy Slobodenyuk <notifications@github.com> wrote:
> 
> Getting:
> text/plain; charset=utf-8
> And when trying to toString() the data, I get:
> Object reference not set to an instance of an object. - I'm assuming because it is a buffer and not an Object.
> 
> —
> Reply to this email directly or view it on GitHub.
> 


```
{"type":"Buffer","data":[79,98,106,101,99,116,32,114,101,102,101,114,101,110,99,101,32,110,111,116,32,115,101,116,32,116,111,32,97,110,32,105,110,115,116,97,110,99,101,32,111,102,32,97,110,32,111,98,106,101,99,116,46,13,10]}
```

Ahh looks like the buffer is in data.data

Sent from my iPhone

> On Aug 19, 2015, at 6:25 PM, Georgiy Slobodenyuk <notifications@github.com> wrote:
> 
> {"type":"Buffer","data":[79,98,106,101,99,116,32,114,101,102,101,114,101,110,99,101,32,110,111,116,32,115,101,116,32,116,111,32,97,110,32,105,110,115,116,97,110,99,101,32,111,102,32,97,110,32,111,98,106,101,99,116,46,13,10]}
> —
> Reply to this email directly or view it on GitHub.
> 


Though when I do `console.log(data.data)`, I get undefined. 
additionally, when I alter the call to `parseMultipart` like so:
```
var multipartBoundary = "";
        multipart.parseMultipart(new Buffer(data.data), multipartBoundary, function(error, dataList) {
...
```

I get:
```
TypeError: must start with number, buffer, array or string
    at new Buffer (buffer.js:67:11)
```

Are you developing against a test server?

Sent from my iPhone

> On Aug 19, 2015, at 6:32 PM, Georgiy Slobodenyuk <notifications@github.com> wrote:
> 
> Though when I do console.log(data.data), I get undefined. 
> additionally, when I alter the call to parseMultipart like so:
> 
> var multipartBoundary = "";
>         multipart.parseMultipart(new Buffer(data.data), multipartBoundary, function(error, dataList) {
> ...
> I get:
> 
> TypeError: must start with number, buffer, array or string
>     at new Buffer (buffer.js:67:11)
> —
> Reply to this email directly or view it on GitHub.
> 


A test RETs server? This one is live.
When I do a `console.log(util.inspect(data))` I get:
```
<Buffer 4f 62 6a 65 63 74 20 72 65 66 65 72 65 6e 63 65 20 6e 6f 74 20 73 65 74 20 74 6f 20 61 6e 20 69 6e 73 74 61 6e 63 65 20 6f 66 20 61 6e 20 6f 62 6a 65 ... >
```

Try putting data into a new Buffer() object

Sent from my iPhone

> On Aug 19, 2015, at 6:40 PM, Georgiy Slobodenyuk <notifications@github.com> wrote:
> 
> A test RETs server? This one is live.
> When I do a console.log(util.inspect(data)) I get:
> 
> <Buffer 4f 62 6a 65 63 74 20 72 65 66 65 72 65 6e 63 65 20 6e 6f 74 20 73 65 74 20 74 6f 20 61 6e 20 69 6e 73 74 61 6e 63 65 20 6f 66 20 61 6e 20 6f 62 6a 65 ... >
> —
> Reply to this email directly or view it on GitHub.
> 


Wrapping it in a new Buffer() yields the same thing in a console log with/without the util.inspect wrapper:
```
<Buffer 4f 62 6a 65 63 74 20 72 65 66 65 72 65 6e 63 65 20 6e 6f 74 20 73 65 74 20 74 6f 20 61 6e 20 69 6e 73 74 61 6e 63 65 20 6f 66 20 61 6e 20 6f 62 6a 65 ... >
```


@sbruno81 Is there any way to get access to the protocol request headers?

Sorry it took so long to get back to you.

You can access the request headers on line 47 of lib/object.js. The request object is part of the request library which is documented [here](https://github.com/request/request).

<pre>
<code>
/**
 * Retrieves RETS object data.
 *
 * @param resourceType Rets resource type (ex: Property)
 * @param objectType Rets object type (ex: LargePhoto)
 * @param objectId Object identifier
 * @param callback(error, contentType, data) (optional)
 */
var getObject = function(resourceType, objectType, objectId, callback) {
    logger.debug("RETS method getObject");

    if (!objectType || !objectId || !resourceType) {
        if(typeof callback === "function")
            callback(new Error("All params are required: objectType, objectId, resourceType"));

        return;
    }

    if (!this.retsSession) {
        if(typeof callback === "function")
            callback(new Error("System data not set; invoke login first."));

        return;
    }

    var options = {
        qs:{
            Type:objectType,
            Id:objectId,
            Resource:resourceType
        }
    };

    //prepare stream buffer for object data
    var writableStreamBuffer = new streamBuffers.WritableStreamBuffer({
        initialSize: (100 * 1024),      // start as 100 kilobytes.
        incrementAmount: (10 * 1024)    // grow by 10 kilobytes each time buffer overflows.
    });
    var req = this.retsSession(options); //<--- request object 

    //modify header
    req.headers["Accept"] = "application/json";

    //pipe object data to stream buffer
    req.pipe(writableStreamBuffer);
    req.on("error", function(err) {
        if(typeof callback === "function") {
            callback(err);
        }
    });
    var contentType = null;
    req.on("response", function(_response){
        contentType = _response.headers["content-type"];
    });
    req.on("end", function() {
        if(typeof callback === "function") {
            callback(null, contentType, writableStreamBuffer.getContents());
        }
    });

};
</code>
</pre>

I too am having problems with the multipart boundary error. Although all RETS services are different I a using one based on Matrix also, so I am not sure why I am having the issues. I tried to pull jsut image in the index 1 slot, I tried substituting a known good Matrix ID with an image and still, then same error. Is it due to the boundary checking, or could it be an incompatibility on the dependencies?.

After searching around a little more, and looking at trying to get librets to compile on OSX again I came across this on the Faq

Why is it on some servers I can not get the first media object when multiple objects are returned?

"This has to do with a malformed response by certain servers. According to RFC 2046, Section 5.1.1:
     The boundary delimiter MUST occur at the beginning of a line, i.e.,
     following a CRLF, and the initial CRLF is considered to be attached
     to the boundary delimiter line rather than part of the preceding
     part.
That strongly says that the initial boundary should be "<CRLF>--simple boundary<CRLF>". Some severs fail to send the initial <CRLF> while all other boundaries do include it. Hence, libRETS will locate the second boundary and consider it the first one found.


Is this the same issue and solution?

@youanden and @lance0821: We've just released rets-client v4.0, which includes substantially reworked object/photo handling, in particular for the case of retrieving a single image.  Please try the latest version and see if it works better for you.

If the latest version still has errors, I'd be happy to troubleshoot with you -- version v3.3+ has features to aid debugging.  See the [debugging](https://github.com/sbruno81/rets-client#debugging) section of the README for details.